<!doctype html>

<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>html Space Story</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	
</head>
<body>

	<div class="container-fluid">
	
		<div class="card">
		
			<div class="card-header text-center">
				<h2>Introduction</h2>
			</div>
			
			<div class="card-body">
			
				<!-- Chapter Image -->
				<img src="../assets/spaceStation.png" class="rounded mx-auto d-block" alt="space station" width="400" height="550">
				
				<!-- Body Text -->
				<div class="row">
					<div class="col"></div>
					<div class="col">
						<p class="lead">Welcome to Caprica II. An advanced science research space station constructed to study a new solar system far away from earth. You are a part of the crew of the Caprica and integral to the success of the mission. When something went terribly wrong. You must choose to attempt to escape the station at all cost or discover what happened to the station and its crew. But be wary, because a single mistake can be your last.</p>
						
					</div>
					<div class="col"></div>
				</div>
				
				<!-- Player Action Buttons -->
				<a href="chapterI.html"><button type="button" class="btn btn-primary">Begin Chapter I</button></a>
			
				
			</div>
			
		</div>
		
	</div>
	

	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>